html {
  position: relative;
  min-height: 100%;
}

body {
  color: #5a3c59;
  font-size: 8em;
  background: url(../images/cafeosmo-1920x1080.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-scroll {
  overflow: hidden;
}
