html {
  position: relative;
  min-height: 100%;
}

body {
  color: #5a3c59;
  font-size: 8em;
  background: url(../images/imageFromInstagram.jpg) #000 no-repeat center/60%; 
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.no-scroll {
  overflow: hidden;
}
