html {
  position: relative;
  min-height: 100%;
}

body {
  color: #5a3c59;
  font-size: 8em;
/*   background: url(../images/imageFromInstagram.jpg) #000 no-repeat center/60%;  */
  background: black;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.no-scroll {
  overflow: hidden;
}

ul {
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    left: 0;
    right: 0;
    padding: 0;
}

ul > li {
    display: block;
}

ul > li > img {
    display: block;
    margin: 0 auto;
    height: 100vh;
}

#credits {
    position: absolute;
    color: white;
    left: 20px;
    bottom: 20px;
    font-size: 16pt;
}

#logo {
    position: absolute;
    right: 20px;
    top: 20px;
}

#logo-notman {
    position: absolute;
    right: 20px;
    top: 140px;
}


#logo-reelyactive {
    position: absolute;
    right: 20px;
    top: 260px;
}

.logo {
    width: 100px;
    height: 100px;
/*     overflow: hidden; */
}

.logo img {
     width: 100px;
     vertical-align: top;
}